body {
    background-color: #ffa69e;
}
.header {
    display: flex;
    justify-content: center;
}

.row {
    border: 1px dotted;
    margin: 20px;
    text-align: center;
}
.container {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    display: flex;
    height: 120px;
}
.container.start {
    align-items: flex-start;
}
.container.end {
    align-items: flex-end;
}
.container.center {
    align-items: center;
}
.item{
    border: 1px solid;
    margin: 5px 5px;
    padding: 10px;
    background-color: lightseagreen;
}
.item:hover {
    background-color: yellow
}