body {
    background-color: #ffa69e;
}
.header {
    display: flex;
    justify-content: center;
}

.row {
    border: 1px dotted;
    margin: 20px;
    text-align: center;
}
.container {
    border: 1px solid;
    margin: 10px 250px;
    display: flex;
    flex-wrap: wrap;
}
.item{
    border: 1px solid;
    margin: 5px 5px;
    padding: 20px;
    background-color: lightseagreen;
}
.item:hover {
    background-color: yellow
}
.grow-one .item:nth-child(2){
    flex-grow: 1;
    background-color: lightskyblue;
}
.grow-two .item:nth-child(5){
    flex-grow : 2;
    background-color: lightskyblue;
}
.grow-one .item:hover:nth-child(2){
    background-color: green;
}
.grow-two .item:hover:nth-child(5){
    background-color: green;
}