body {
    background-color: #ffa69e;
}
.header {
    display: flex;
    justify-content: center;
}

.row {
    border: 1px dotted;
    margin: 20px;
    text-align: center;
}
.container {
    border: 1px solid;
    margin: 10px 250px;
    display: flex;
}
.item{
    border: 1px solid;
    margin: 5px 5px;
    padding: 20px;
    background-color: lightseagreen;
}
.order-two .item:nth-child(2){
    order: 2;
}
.order-two .item:nth-child(5){
    order: 1;
}
.item:hover {
    background-color: yellow
}